-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: holy_family_parish
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `record_folders`
--

DROP TABLE IF EXISTS `record_folders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `record_folders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parent_id` int(11) DEFAULT NULL,
  `parent_scope` varchar(160) NOT NULL,
  `name` varchar(100) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_record_folder_scope_name` (`parent_scope`,`name`),
  UNIQUE KEY `uk_record_folders_parent_name` (`parent_id`,`name`),
  KEY `created_by` (`created_by`),
  KEY `idx_record_folders_parent` (`parent_id`),
  KEY `idx_record_folders_scope` (`parent_scope`),
  CONSTRAINT `record_folders_ibfk_1` FOREIGN KEY (`parent_id`) REFERENCES `record_folders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `record_folders_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record_folders`
--

LOCK TABLES `record_folders` WRITE;
/*!40000 ALTER TABLE `record_folders` DISABLE KEYS */;
INSERT INTO `record_folders` VALUES (1,NULL,'legacy:1','Marriage',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(2,NULL,'legacy:2','Funeral',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(3,NULL,'legacy:3','Baptism',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(4,NULL,'legacy:4','Mass Intention',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(5,NULL,'legacy:5','Private Mass',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(6,NULL,'legacy:6','Others',NULL,'2026-10-02 05:26:13','2026-10-02 06:56:44'),(8,NULL,'root','parish',1,'2026-10-02 08:55:12','2026-10-02 08:55:12');
/*!40000 ALTER TABLE `record_folders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `record_files`
--

DROP TABLE IF EXISTS `record_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `record_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `folder_id` int(11) DEFAULT NULL,
  `parent_scope` varchar(160) NOT NULL,
  `original_filename` varchar(255) NOT NULL,
  `stored_filename` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `mime_type` varchar(100) NOT NULL,
  `file_size` bigint(20) unsigned NOT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `idx_record_files_folder` (`folder_id`),
  KEY `idx_record_files_uploaded` (`uploaded_at`),
  KEY `idx_record_files_scope` (`parent_scope`),
  CONSTRAINT `record_files_ibfk_1` FOREIGN KEY (`folder_id`) REFERENCES `record_folders` (`id`) ON DELETE SET NULL,
  CONSTRAINT `record_files_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record_files`
--

LOCK TABLES `record_files` WRITE;
/*!40000 ALTER TABLE `record_files` DISABLE KEYS */;
INSERT INTO `record_files` VALUES (2,NULL,'service:Marriage','jj.jpg','7e584439badefc233725f1b3e06c1b97.upload','records/service_Marriage/7e584439badefc233725f1b3e06c1b97.upload','image/jpeg',46276,1,'2026-10-02 07:34:36'),(5,8,'folder:8','jj.jpg','e1642a440a3058129b5e2e4d1df7e3e1.upload','records/folder_8/e1642a440a3058129b5e2e4d1df7e3e1.upload','image/jpeg',46276,1,'2026-10-02 09:34:48'),(6,NULL,'root','jj.jpg','476c16341b71a03f4bbdcaa2f85d2dcf.upload','records/root/476c16341b71a03f4bbdcaa2f85d2dcf.upload','image/jpeg',46276,1,'2026-10-02 13:27:49');
/*!40000 ALTER TABLE `record_files` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-03  0:35:03
